:root {
  --lightorange: rgba(255, 165, 0, 0.1);
}

.table-heading {
  background-color: var(--green);
  color: var(--white);
  border: 1px solid var(--black);
  padding: 15px;
}

.channel {
  background-color: var(--orange);
  padding: 15px;
  border: 1px solid var(--black);
}

.channel ~ td {
  border: 1px solid var(--black);
  padding: 15px;
}

#table {
  table-layout: fixed;
  width: 80%;
}

#table tr:hover {
  background-color: var(--lightorange);
}
